*,
::after,
::before {
  box-sizing: border-box;
}

/****Estilos cabecera y Nav****/
.containerNav__h1 {
  color: rgba(4, 66, 174, 0.788);
}
.containerNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px;
  flex-wrap: wrap;
  align-items: center;
}

.boxNavBar__Li {
  list-style: none;
  text-decoration: none;
}
.boxNavBar__Ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.boxNavBar a {
  color: rgba(4, 66, 174, 0.788);
  text-decoration: none;
  font-weight: bold;
}
.boxHeader__div__img img {
  width: 224px;
  height: 121px;
}

@media screen and (max-width: 480px) {
  .containerNav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px;
    flex-wrap: wrap;
    align-items: center;
  }
  .boxHeader__div__img2 {
    position: absolute;
    left: 0px;
    top: 160px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* Estilos para tablets en horizontal */
  .containerNav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px;
    flex-wrap: wrap;
    align-items: center;
  }
}


/****HEADER****/

.containerHeader {
  height: 1323px;
  display: flex;
  flex-wrap: wrap;
}
.boxHeader {
  position: relative;
}
.boxHederContainer__img2__p {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 40px;
}
.boxHeader__div__img2__p {
  width: 727px;
  position: absolute;
  top: 343px;
  left: 521px;
  padding: 43px;
  background: white;
  box-shadow: 0px 0px 7px 1px grey;
  border-radius: 25px;
  animation-duration: 2.5s;
  animation-name: nat;
}
@keyframes nat {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
.boxHeader__div__img2__p h3,
.boxHeader__div__img3__p h3 {
  color: rgb(35, 34, 34);
}
.boxHeader__div__img2__p p,
.boxHeader__div__img3__p p {
  color: rgb(0, 0, 0);
}
.boxHeader__div__img2 {
  position: absolute;
  top: 78px;
  left: 391px;
  z-index: 1;
  animation-duration: 0.5s;
  animation-name: slidein;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 100%;
    width: 100%;
  }
}

.boxHeader__div__img3__p {
  width: 727px;
  position: absolute;
  top: 860px;
  left: 465px;
  padding: 43px;
  background: white;
  box-shadow: 0px 0px 7px 1px grey;
  border-radius: 25px;
  animation-duration: 2s;
  animation-name: slidein2;
}
.boxHeader__div__img3 img {
  width: 220px;
  height: 220px;
  border-radius: 10px;
}
.boxHeader__div__img3 {
  width: 220px;
  height: 220px;
  position: relative;
  top: 681px;
  left: 1136px;
  z-index: 1;
  animation-duration: 1.5s;
  animation-name: slidein2;
}
@keyframes slidein2 {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 100%;
    width: 100%;
  }
}
.boxHeader__div__img2 img,
.boxHeader__div__img3 {
  border-radius: 10px;
  box-shadow: 0px 0px 7px 2px grey;
}

@media screen and (max-width: 480px) {
    .boxHeader__div__img2 {
      position: absolute;
      left: 24px;
      top: 160px;
    }
    .boxHeader__div__img3{
        left: 107px;
        top: 982px;
  
    }
    .boxHeader__div__img2__p {
      width: 271px;
      top: 429px;
      left: 62px;
    }
    .boxHeader__div__img3__p{
        left: 34px;
        top: 1174px;
        width: 289px;
     
    }
  }

  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    /* Estilos para tablets en horizontal */
    .boxHeader__div__img2 {
        position: absolute;
        left: 91px;
        top: 61px;
      }
      .boxHeader__div__img3{
        left: 504px;
        top: 795px;
    
      }
      .boxHeader__div__img2__p {
        width: 556px;
        top: 333px;
        left: 139px;
      }
      .boxHeader__div__img3__p{
        left: 34px;
        top: 989px;
        width: 623px;
      
      }
  }

/****fin header****/

/****bola caza pokemon, imitación al carrito****/
.boxNavBar__Li__img {
  height: 30px;
  width: 30px;
  border-radius: 20px;
}
/****product****/
.boxPokemon {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  margin: 70px;
  background-color: rgba(255, 215, 82, 0.397);
  border-radius: 30px;
}
/****carta de pokémon****/
.boxProduct {
  margin: 0px auto;
  padding: 20px;
}
.boxProduct__product {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  background-color: rgba(255, 210, 173, 0.521);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 1px 1px 3px 0px orangered;
}
/****h2 ferchdata****/
.boxPokemon__h2 {
  text-align: left;
  margin-left: 100px;
  font-size: 37px;
  color: rgba(4, 66, 174, 0.788);
}
/****CARRITO-POKEBOLA****/
.boxCart_Carrito {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 10px;
  cursor: pointer;
  position: absolute;
  top: 267px;
  right: 0px;
}
.boxProduct__name {
  color: black;
  font-weight: bold;
}
.boxCart_Carrito h2 {
  margin: 30px;
  color: rgba(4, 66, 174, 0.788);
}
.boxCart_Carrito__Datos {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  background-color: rgb(234, 241, 248);
  width: 200px;
  border-radius: 10px;
  margin: 20px;
}
.boxProduct__button {
  cursor: pointer;
}
.boxCart_Carrito__Datos__image img {
  width: 80px;
  height: 70px;
}
.boxCart_Carrito__Datos_producto {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  background-color: rgb(234, 241, 248);
  border-bottom: 1px solid black;
  margin: 20px;
  text-align: center;
  border-bottom: 1px solid blue;
  padding-bottom: 20px;
}
.boxCart_Carrito_Vacio {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 300px;
  background-color: rgb(234, 241, 248);
  border-radius: 10px;
  text-align: center;
  margin: 30px;
  position: absolute;
  top: 267px;
  right: 0px;
  color: rgba(4, 66, 174, 0.788);
  padding: 20px;
}
.quantity-controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 10px;
  cursor: pointer;
}
.box_CarCount {
  width: 20px;
  height: 20px;
  border-radius: 10000px;
  border: 1px solid red;
}

.cartCount {
  width: 30px;
  height: 30px;
  background-color: blue;
  color: white;
}
/****carrito vacío articulos de interes****/
.containerCart-Caps {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 10px;
  cursor: pointer;
  background-color: rgba(234, 238, 92, 0.762);
  border-radius: 20px;
  padding: 30px;
}
.containerCart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 70px;
}
.container_div {
  width: 700px;
}
.container_div img {
  width: 712px;
  height: 479px;
}
/****INTENTO DE CARRUSEL****/
.carousel {
  height: 200px;
  display: flex;
  flex-direction: row;
}
.arousel-slide {
  height: 200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
/***PRODUCTOS CAPS DENTRO POKEBOLA***/
.product-Caps {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 300px;
  border: 1px solid blue;
  border-radius: 10px;
  background-color: white;
}
.product-Caps button {
  margin-bottom: 10px;
  padding: 10px;
}
.product-image {
  height: 200px;
  width: 200px;
  padding: 10px;
}
.boxCaps {
  width: 900px;
  background-color: rgb(167 217 241 / 79%);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  align-items: normal;
  align-content: stretch;
  padding: 30px;
  border-radius: 10px;
  margin: 20px 78px 40px;
}
.boxTitle {
  margin: 0px;
  width: 300px;
  text-align: center;
  color: rgba(4, 66, 174, 0.788);
}
